services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: print-queue
    ports:
      - "4000:4000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
